*{
  margin: 0;
  padding: 0; 
}
nav{
    display: flex;
    justify-content: space-between ;
    
    align-items: center;
    
}
nav h2{
 margin-left: 160px;
 padding: 15px;
 width: 222px;
    
}
.container{
max-width: 1200px;
    margin: auto;
}
header{
   
}
.btn{
   
    padding: 10px 20px;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    color: green;
    font-size: 18px;
    margin-right: 190px;
    border: 1px solid forestgreen;
   

    
}
.banner{
    display: flex;
    align-items: center;
    border: 1px solid black;
    margin-top: 20px;
    border-radius: 24px;
background: rgba(198, 228, 214, 1);
    
justify-content: center;


}
.banner h2{
  
    margin-bottom: 16px;
    color: rgba(14, 14, 14, 0.5);
    text-align: left;
    margin-left: 80px;


    
    


}
.banner p{
    text-align: left;
    color: rgba(14, 14, 14, 1);
    
font-family: Fira Sans;
font-style: Bold;
font-size: 56px;
width: 622px;
margin-left: 80px;


margin-bottom: 24px;
font-weight: 700;
margin-right: 80px;
}
.banner .btn{
   
    padding: 17px 34px 17px 34px;
    border-radius: 8px;
background: rgba(0, 106, 80, 1);
color: white;
margin-left: 80px;

}
.banner img{
    margin-bottom: 80px;
    margin-right: 70px;
    margin-top: 50px;
    
}
.pillars-card{
    display: flex;
    gap: 24px;
    margin-top: 32px;
}
.pillars-card .card{
   
    width: 410px;
    height: 250px;
    margin-bottom: 140px;
    box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background: rgba(255, 255, 255, 1);
}
.card img{
    margin-bottom: 24px;
    width: 45px;
    padding-top: 32px;
    padding-left: 32px;

}
.card h3{
    color: rgba(14, 14, 14, 0.8);

font-family: Fira Sans;
font-style: Bold;
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-left: 24px;
}
.card p{
    color: rgba(14, 14, 14, 0.7);

font-family: Fira Sans;
font-style: Regular;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: left;
margin-left: 24px;
margin-top:10px ;
}
.pillars-container h2{
    margin-top: 80px;
}